{{!-- Partial for rating and comments to appear on the gear details page --}}
<div class="card my-3">
    <div class="card-body">
        <h6 class="card-subtitle mb-2">Rating: {{ rating }}</h6>
        <p class="text-muted">Comment: {{ comment }}</p>
    </div>
</div>