{{!-- This is the Footer partial. --}}
<div class="footer text-center">
     <p>
          <strong>Assembled by: The Share camGear Team. </strong> The
          source code is
          licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          The website content is powered by <a href="https://www.npmjs.com/package/multer">Multer</a>
          & <a href="https://handlebarsjs.com/">Handlebars</a>.
     </p>
     <br>
     <p> For Customer Services: <a
               href="mailto:proj2.team5@gmail.com?Subject=In%20need%20of%20assitance">proj2.team5@gmail.com</a> </p>
</div>