 <nav>
      <div id="companyDetails">
      <img src="" alt="logo">
      <p>Company Name</p>
      </div>
      <ul>
          <li><a href="">Home</a></li>
          <li><a href="">My Profile</a></li>
          <li><a href="">Login</a></li>
      </ul>
  </nav>