{{! This is the navigation bar partial. }}
<nav
  class="flex flex-row justify-between items-center px-8 text-white bg-[#44B09E]"
>

  <a class="flex flex-row items-center" href="/">
    <img
      class="logo w-16 m-2 rounded-lg"
      src="/images/cameraShare_logo.png"
      alt="logo"
    />

    <h1>Share camGear</h1>
  </a>

  <ul class="flex flex-row gap-4">
    <li>
      <a class="hover:bg-[#E0D2C7] px-4 py-1 rounded-xl" href="/">Home</a>
    </li>
    <li>
      <a class="hover:bg-[#E0D2C7] px-4 py-1 rounded-xl" href="/users">My Profile</a>
    </li>
    {{#if loggedIn}}
      <li>
        <a id="logout" class="hover:bg-red-600 px-4 py-1 rounded-xl" id="logout">Logout</a>
      </li>
    {{else}}
      <li>
        <a id="login" class="hover:bg-green-400 px-4 py-1 rounded-xl" href="/users/login">Login</a>
      </li>
    {{/if}}
  </ul>

</nav>