<div>
    <img class="card-img-top" src="{{ image_url }}" alt="{{ product_name }}">
    <div class="card-body">
        <h5 class="card-title">{{ product_name }}</h5>
        <a href="gear/update/{{id}}">Update</a>
    </div>
</div>