{{!-- Partial to display the products the the user owns, will be used in the profile --}}
<div class="col-md-3 mb-4">
    <div class="card h-100">
        <img class="card-img-top" src="{{ image_url }}" alt="{{ product_name }}">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ product_name }}</h5>
            <a href="gear/update/{{id}}">Update</a>
        </div>
    </div>
</div>