<div>
    <img src="{{ image_url }}" alt="{{ product_name }}">
    <div>
        <h5>{{ product_name }}</h5>
        <a href="/gear/{{ id }}" class="btn btn-primary">View Details</a>
    </div>
</div>