<div>
    <img class="card-img-top" src="{{ gear.image_url }}" alt="{{ gear.product_name }}">
    <div class="card-body">
        <h5 class="card-title">{{ gear.product_name }}</h5>
        <a href="gear/update/{{id}}">Update</a>
    </div>
</div>