<div>
    <p>{{ borrower.username }} with borrower rating of {{get_average_rating borrower.ratings}} is requesting to borrow {{ gear.product_name }}</p>
    <button id="accept" type="submit">Accept</button>
    <button id="decline" type="submit">Decline</button>
</div>