<div>
    <p>{{ loan.borrower_id }} is requesting to borrow {{ loan.product_id }} from {{ loan.received_date }} till {{ loan.returned_date }}</p>
    <button id="accept" type="submit">Accept</button>
    <button id="decline" type="submit">Decline</button>
</div>