footer {
    text-align: center;
    background-color: black;
    color: white;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
nav{
  background-color: slategray;
  padding-left: 7vw;
  padding-right: 7vw;
  display: flex;
  justify-content: space-between;
}

#companyDetails{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#companyDetails img{
  height: 4rem;
}
#companyDetails p{
  margin: 0;
  padding: 0;
}

ul{
  overflow: hidden;
  list-style: none;
}

li{
  float: left;
}
li a{
  display: block;
  padding:0.5rem 2rem;
  text-decoration: none;
  color: white;
}

li a:hover{
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  color: slategrey;
}