:root {
  --background: #1B2021;
  --primary: #30343F;
  --nav: #89023E;
  --secondary: #FFD9DA;
  --highlights: #EA638C;
}

body {
  background-color: var(--background);
}

.container{
  background-color: var(--primary);
}

.card {
  background-color: var(--secondary);
}

.btn-primary{
  background-color: var(--highlights);
}

.navbar {
  background-color: var(--nav);
  color: var(--secondary);
}

.nav-link{
  color: var(--secondary);
}